* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #e4e8eb;
    padding: 0 15px;
}

.row {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
    padding: 15px;
}

.one, .three{
    justify-content: space-between;
}

img.octocat {
    height: 200px;
}

h1, p {
    text-align: center;
    color: #374855;
    margin-top: 15px;
}

a {
    color: #8dd6e5;
}

.one {
    background-color: #606c38;
}

.two {
    background-color: #fefae0;
}
.three {
    background-color: #415a77;
}
